footer
  .container.text-center
    p.float-left © 2018 solareenlo
    ul.float-right.list-inline
      li.list-inline-item
        a.github-button.pull-right(href="https://github.com/solareenlo/Crypto-Pay", data-icon="octicon-star", data-show-count="true", aria-label="Star solareenlo/Crypto-Pay on GitHub") Star
