BASE_URL=http://localhost:8080
/* MONGODB_URI=mongodb://localhost:27017/crypto-pay */

SESSION_SECRET=5ab40d7d5db26d467f556a33e40a5823df648e7ae06deb481394772d13ef5ee7

MAILGUN_USER=postmaster@sandbox697fcddc09814c6b83718b9fd5d4e5dc.mailgun.org
MAILGUN_PASSWORD=29eldds1uri6

SENDGRID_USER=hslogin
SENDGRID_PASSWORD=hspassword00

FACEBOOK_ID=754220301289665
FACEBOOK_SECRET=41860e58c256a3d7ad8267d3c1939a4a

TWITTER_KEY=6NNBDyJ2TavL407A3lWxPFKBI
TWITTER_SECRET=ZHaYyK3DQCqv49Z9ofsYdqiUgeoICyh6uoBgFfu7OeYC7wTQKa

INSTAGRAM_ID=9f5c39ab236a48e0aec354acb77eee9b
INSTAGRAM_SECRET=5920619aafe842128673e793a1c40028

GITHUB_ID=cb448b1d4f0c743a1e36
GITHUB_SECRET=815aa4606f476444691c5f1c16b9c70da6714dc6

EXT_PUB_KEY_BASE58_1=tpubDEZdLiPyk7DC9JBEzBPasXs8WvNJXXrM2XZ5kGbS45apipRG5npoerzPvJCSLBxZ39wEWuRbksf6YpHMQgGZ5Sdk5E8VH4b2dPEyqVedPk2
EXT_PUB_KEY_BASE58_2=tpubDEmtoZw2pvw2jgCfvW55YFqpoK2XwpdvW6gHBnVgbWgJ81uMvKc6VU6dHRyh5NwSoscVhhzyT5MGBKgkERaEK8usFXk68xwC9TBLmeQDxSd
EXT_PUB_KEY_BASE58_3=tpubDEqsQ3Ez1acFtvcxfzwhYqY7VxXD7m1JoA9nTmnfdzzXrAyHTzhrmB9guEdfPXcgDaqPCZgV3XAzZVpZzwXbNDTssUybiyE3zimt38rSPZP

NODE_ENV=development
